section.about
  .row
    .col-sm-12
      .row
        .col-sm-offset-1.col-sm-8
          .box
            h2 Changing Lives
      .row.start-sm.about-container
        .col-sm-offset-1.col-sm-4
          .box.zillow-video
            iframe(width="500" height="302" src="https://www.youtube.com/embed/NO8fWjv1oSs" frameborder="0" allowfullscreen )
        .col-sm-4 
          .box.about-content
            p Buying or selling a home is a major milestone. Andrews Realty Group is here to help you with your transition. As a team of Real Estate agents, we'll use our local expertise and become your trusted home ownership consultants. 
            p We offer a wide range of service levels to help you shop or sell, however you're most comfortable.
            button Lets Get In Touch
