section.ctas
  .cta
    a(href="#")
      .border
        img(src="/img/house_icon.svg", alt="")
        span Your Home Value
  .cta
    a(href="#")
      .border
        img(src="/img/map_icon.svg", alt="")
        span Search For Homes
  .cta
    a(href="#")
      .border
        img(src="/img/shaking_hands.svg", alt="")
        span Get Financed
