section.ctas
  .cta
    a(href="#")
      .border
        include ../../../img/house_icon.svg
        span Your Home Value
  .cta
    a(href="#")
      .border
        include ../../../img/map_icon.svg
        span Search For Homes
  .cta
    a(href="#")
      .border
        include ../../../img/shaking_hands.svg
        span Get Financed
