section.row.cta
  .four.columns
    a(href="#")
      img(src="", alt="")
      span Your Home Value
  .four.columns
    a(href="#")
      img(src="", alt="")
      span Search For Homes
  .four.columns
    a(href="#")
      img(src="", alt="")
      span Get Financed
