footer
  .footer-wrapper
    .row
      .col-sm-6
        .box
          .row
            .col-sm-4
              .box
                img.footer-brand(src="/img/photos/ARG_gold.png", alt="")
            .col-sm-6
              .contact-info.box
                address
                  a(href="tel:248-841-4717") 248-841-4717
                  br
                  a(href="mailto:") info@andrewsrealtygroup.com
                  br
                  span 439 S Main Street, Suite 202 
                  br
                  span Rochester, MI 48307​  
      .col-sm-6
        .box.right-sm
          ul.nav-links
            li
              a(href="/") Home &nbsp |
            li
              a(href="") Video Blog &nbsp |
            li
              a(href="") Listings &nbsp |
            li
              a(href="") Meet The Team
        .box.right-sm
        ul.nav-socials
          li
            a(href="#")
              img.social-icons(src="/img/fb.svg", alt="Facebook")
          li
            a(href="#")
              img.social-icons(src="/img/linkedin.svg", alt="Linkedin")
          li
            a(href="#")
              img.social-icons(src="/img/twitter.svg", alt="Twitter")
          li
            a(href="#")
              img.social-icons(src="/img/yt.svg", alt="Youtube") 
