footer
  .row
    .col-sm-6
      .box
        .row
          .col-sm-1
            .box
              img.brand-image(src="/img/photos/ARG_gold.png", alt="")
          .col-sm-6
            .contact-info.box
              address
                a(href="tel:248-841-4717") 248-841-4717
                br
                a(href="mailto:") info@andrewsrealtygroup.com
                br
                span 439 S Main Street, Suite 202 
                br
                span Rochester, MI 48307​  
    .col-sm-6
      .box
        ul.nav-links
          li
            a(href="/") Home &nbsp |
          li
            a(href="") Video Blog &nbsp |
          li
            a(href="") Listings &nbsp |
          li
            a(href="") Meet The Team
      .box
        ul.nav-socials
          li
            a(href="")
              i.fa.fa-facebook
          li
            a(href="")
              i.fa.fa-linkedin
          li
            a(href="")
              i.fa.fa-twitter
          li
            a(href="")
              i.fa.fa-youtube  
