footer(itemscope='realestateagent' itemtype='http://schema.org/RealEstateAgent')
  .footer-wrapper
    .row
      .six.columns
          .contact-info
            img.footer-brand(src="img/ARG.svg", alt="Andrews Realty Group" itemprop="logo")
            address
              a(href="tel:248-841-4717" itemprop="telephone") 248-841-4717
              br
              a(href="mailto:" itemprop="email") info@andrewsrealtygroup.com
              br
              div(itemprop="address")
                span 439 S Main Street, Suite 202 
                br
                span Rochester, MI 48307​
      .two.columns    
          .somerset
            p In house lending provided by
            img(src="img/somerset.png", alt="Somerset Lending Corp" style="width: 100%;")        
      .four.columns.footer-nav
        .right-sm
          ul.nav-links
            li
              a(href="/") Home &nbsp |
            li
              a(href="") Video Blog &nbsp |
            li
              a(href="") Listings &nbsp |
            li
              a(href="meet_the_team.html") Meet The Team
        .right-sm
        ul.nav-socials
          li
            a(href="https://www.facebook.com/AndrewsRealtyGroup")
              include ../../../img/fb.svg
          li
            a(href="https://www.linkedin.com/pub/brad-saarela/5/b88/22")
              include ../../../img/linkedin.svg
          li
            a(href="https://twitter.com/Andrews_Realty")
              include ../../../img/twitter.svg
          li
            a(href="https://www.youtube.com/channel/UCHdWLOlv3RTouqiD8xUKOQQ")
              include ../../../img/yt.svg
      .hidden
        span(itemprop="founder") Brad Saarela
        span(itemprop="brand") Andrews Realty Group
script(type="text/javascript" src="./js/jquery/dist/jquery.min.js")               
script(type="text/javascript" src="./js/carousel.min.js")
script(type="text/javascript" src="./js/modal.js")
script(type="text/javascript" src="./js/function.js")
