footer(itemscope='realestateagent' itemtype='http://schema.org/RealEstateAgent')
  .footer-wrapper
    .row
      .four.columns
          .contact-info
            img.footer-brand(src="/img/photos/ARG_gold.png", alt="Andrews Realty Group" itemprop="logo")
            address
              a(href="tel:248-841-4717" itemprop="telephone") 248-841-4717
              br
              a(href="mailto:" itemprop="email") info@andrewsrealtygroup.com
              br
              div(itemprop="address")
                span 439 S Main Street, Suite 202 
                br
                span Rochester, MI 48307​
      .two.columns    
          .somerset
            p In house lending provided by
            img(src="img/somerset.png", alt="Somerset Lending Corp")        
      .six.columns.footer-nav
        .right-sm
          ul.nav-links
            li
              a(href="/") Home &nbsp |
            li
              a(href="") Video Blog &nbsp |
            li
              a(href="") Listings &nbsp |
            li
              a(href="/meet_the_team.html") Meet The Team
        .right-sm
        ul.nav-socials
          li
            a(href="#")
              include ../../../img/fb.svg
          li
            a(href="#")
              include ../../../img/linkedin.svg
          li
            a(href="#")
              include ../../../img/twitter.svg
          li
            a(href="#")
              include ../../../img/yt.svg
      .hidden
        span(itemprop="founder") Brad Saarela
        span(itemprop="brand") Andrews Realty Group
script(type="text/javascript" src="./js/jquery/dist/jquery.min.js")               
script(type="text/javascript" src="./js/carousel.min.js")
script(type="text/javascript" src="./js/modal.js")
script(type="text/javascript" src="//cdn.embed.ly/player-0.0.11.min.js")
script(type="text/javascript" src="./js/scrollplay.js")  
script(type="text/javascript" src="./js/function.js")
