h1.title Andrews Realty Group
nav.top-nav
  .row
    .four.columns
        ul.nav-socials
          li
            a(href="https://www.facebook.com/AndrewsRealtyGroup")
              include ../../../img/fb.svg
          li
            a(href="https://www.linkedin.com/pub/brad-saarela/5/b88/22")
              include ../../../img/linkedin.svg
          li
            a(href="https://twitter.com/Andrews_Realty")
              include ../../../img/twitter.svg
          li
            a(href="https://www.youtube.com/channel/UCHdWLOlv3RTouqiD8xUKOQQ")
              include ../../../img/yt.svg
  .row.center
    .six.columns 
        a(href="/")
          include ../../../img/ARG.svg
        ul.nav-links
          li
            a(href="/") Home &nbsp |
          li
            a(href="http://andrewsrealtygroup.blogspot.com/") Video Blog &nbsp |
          li
            a(href="http://www.northoaklandcountyhomes.com/") Listings &nbsp |
          li
            a(href="meet_the_team.html") Meet The Team
    
