h1.title Andrews Realty Group
nav.top-nav
  .row.start-xs
    .col-xs-4
      .box
        ul.nav-socials
          li
            a(href="#")
              img.social-icons(src="/img/fb.svg", alt="Facebook")
          li
            a(href="#")
              img.social-icons(src="/img/linkedin.svg", alt="Linkedin")
          li
            a(href="#")
              img.social-icons(src="/img/twitter.svg", alt="Twitter")
          li
            a(href="#")
              img.social-icons(src="/img/yt.svg", alt="Youtube")
  .row.center-sm
    .col-sm-6 
      .box 
        a(href="/")
          img(src="./img/photos/ARG_gold.png", alt="Andrews Realty Group" class="brand-image")
        ul.nav-links
          li
            a(href="/") Home &nbsp |
          li
            a(href="") Video Blog &nbsp |
          li
            a(href="") Listings &nbsp |
          li
            a(href="") Meet The Team
    
