h1.title Andrews Realty Group
nav.top-nav
  .row
    .four.columns
        ul.nav-socials
          li
            a(href="#")
              include ../../../img/fb.svg
          li
            a(href="#")
              include ../../../img/linkedin.svg
          li
            a(href="#")
              include ../../../img/twitter.svg
          li
            a(href="#")
              include ../../../img/yt.svg
  .row.center
    .six.columns 
        a(href="/")
          include ../../../img/ARG.svg
        ul.nav-links
          li
            a(href="/") Home &nbsp |
          li
            a(href="http://andrewsrealtygroup.blogspot.com/") Video Blog &nbsp |
          li
            a(href="http://www.northoaklandcountyhomes.com/") Listings &nbsp |
          li
            a(href="/meet_the_team.html") Meet The Team
    
