h1.title Andrews Realty Group
nav.top-nav
  .row.start-xs
    .col-xs-4
      .box
        ul.nav-socials
          li
            a(href="#")
              include ../../../img/fb.svg
          li
            a(href="#")
              include ../../../img/linkedin.svg
          li
            a(href="#")
              include ../../../img/twitter.svg
          li
            a(href="#")
              include ../../../img/yt.svg
  .row.center-sm
    .col-sm-6 
      .box 
        a(href="/")
          img(src="./img/photos/ARG_gold.png", alt="Andrews Realty Group" class="brand-image")
        ul.nav-links
          li
            a(href="/") Home &nbsp |
          li
            a(href="") Video Blog &nbsp |
          li
            a(href="") Listings &nbsp |
          li
            a(href="/meet_the_team.html") Meet The Team
    
