nav.top-nav
  ul.nav-socials
    li
      a(href="")
        i.fa.fa-facebook
    li
      a(href="")
        i.fa.fa-linkedin
    li
      a(href="")
        i.fa.fa-twitter
    li
      a(href="")
        i.fa.fa-youtube
  .container
    .row
      .twelve.columns        
        a(href="/")
          img(src="./img/photos/ARG_gold.png", alt="Andrews Realty Group" class="brand-image")
        ul.nav-links
          li
            a(href="/") Home &nbsp |
          li
            a(href="") Video Blog &nbsp |
          li
            a(href="") Listings &nbsp |
          li
            a(href="") Meet The Team
    
