include mixin.jade
section.container.team(itemscope='realestateagent' itemtype='http://schema.org/RealEstateAgent')
  h1 Meet The Team
  +team("img/Photos/heashots/brad.png","Brad Saarela", "Lead Broker/Owner", "License # 385138", "Brad Saarela was born and raised in Rochester MI, and has a true passion for the area. Brad has 13 years of combined experience in both mortgage banking and real estate sales ($500 million worth of transactions). This means that when something problematic arises, which often happens, he will have the know-how to take care of the problem. You can consider him a one-stop shop in this regard. Brad can give you advice on financing, and can also help you decide what your home might sell for. His promise is to create an easy transition from selling to purchasing a new home.", "Because Brad has expertise in both the financial and real estate side of the transaction, he becomes a huge asset during negotiations and streamlines the process.")
  +team2("img/Photos/heashots/Amanda.png","Amanda Brenaman", "Team Coordinator","License # 387471", "Amanda is the glue that keeps our team together, her previous experience in the mortgage industry gives her the unique ability to help guide our clients to the smoothest closing possible. She handles the details and is involved in the whole process from offer to the closing table. Her attention to detail and strong organizational skills keep her constantly aware of where each client is in the process is and what needs to happen next in order to facilitate the quickest.")
  +team("img/Photos/heashots/Jason.png","Jason Patrick", "Buyer and Listing Specialist", "License# 386476","Jason Patrick is a full time real estate agent that is excited to work with buyers and sellers, specializing in Rochester and surrounding areas. He have a vast knowledge of real estate transactions and is backed by the other members of the Saarela Team. He lives in downtown Rochester with his wife and 3 kids. His team uses tried and true marketing and advertising techniques as well as new technology to sell your current home and find you the home of your dreams. Let him walk you through the process of home buying and selling!")
  +team2("img/Photos/heashots/travis.png","Travis Keck","Buyer and Listing Specialist","License # 388681","Born and raised in Petoskey, MI Travis moved to the Rochester Hills area shortly after graduating. Travis began his career managing Firness19 in Rochester and transitioned into real estate sales with Andrews Realty Group after that. Travis is a family man, devoted to his beautiful wife and son. Travis epitomizes integrity, energy, hard work, and creativity. He’s passionate about helping clients fulfill their dream of homeownership and committed to making your dreams a reality.")
  +team("img/Photos/heashots/ryan.png","Ryan Dillon", "Buyer and Listing Specialist", "License #368415","Ryan has ten plus years in Rochester Real Estate and as a licensed builder. He lives in downtown Rochester, which helps him be an expert in the local market.")
  .no-bio
    +team2("img/Photos/heashots/Devon.jpg","Devon O’Ray", "Buyer and Listing Specialist", "License #")
    +team("img/Photos/heashots/justin.png","Justin Herbert", "Buyer and Listing Specialist", "License # 314683")
    +team2("img/Photos/heashots/brandon.png","Brandon Rubenstein", "Buyer Specialist", "License #330317")
    +team("img/Photos/heashots/stephanie.png","Stephanie Flater", "Buyer Specialist", "License #388157")
    +team2("img/Photos/heashots/celina.png","Celina Leon", "Buyer Specialist", "License #328870")
    +team("img/Photos/heashots/Joe.png","Joseph Palazzolo", "Buyer and Listing Specialist", "License #388157")
    +team2("img/Photos/heashots/missing.png", "Richard Henderson", "Buyer Specialist", "License #388988")  
  

  
