include mixin.jade
section.container.team
  h1 Meet The Team
  +team("img/Photos/heashots/amanda.jpg","Amanda Lady","Amanda", "Real Estate Agent", "Born in the year of our lord a million")
  +team2("img/Photos/heashots/amanda.jpg","Amanda Lady","Amanda", "Real Estate Agent", "Born in the year of our lord a million")
