section.testimonials#carousel
  .container
    .row.testimonial-wrapper
        .5.columns
          .quote 
          .carousel.slide#fade-quote-carousel(data-ride="carousel" data-interval="3000")
            ol.carousel-indicators
              li.active(data-target="#fade-quote-carousel" data-slide-to="0")
              li(data-target="#fade-quote-carousel" data-slide-to="1")
              li(data-target="#fade-quote-carousel" data-slide-to="2")  
            .carousel-inner(role="listbox")
              .active.item
                blockquote
                  p <span class="big-quote">“</span>Brad and his team are terrific! We found him through a Google search, called his office, and met with him the next day. He was able to find a lender that fit with our unique situation. He and his team were responsive and knowledgeable. They really go above and beyond your typical mortgage brokerage firm. We were very pleased overall and are happy in our new home.<span class="big-quote">"</span>
              .item
                blockquote
                  p "Brad did a great job throughout the whole sales process.  He was very knowledgable about the area that the home I was selling was located and helped me pick a price point that worked great. Also, he was able to offer up some very useful tips and ideas that helped make the sale of my home quicker than I had imagined. Overall I was impressed with Brad and thankful to have him on my side."
              .item
                blockquote
                  p "Brad is excellent and the most knowledgeable realtor I have ever had the pleasure of dealing with. His negotiation skills are the very reason we were able to sell our home and acquire the home we love so much. Brad went above and beyond for us. Despite my doubts and some tough hurdles, he continued to reassure us. Brad is one of a kind and I would say the best in his field."      
