section.testionials
  .row.center
    .5.columns
      .box.testimonial-wrapper
        ul.testimionial-slider
          li
            .testimonial
              p <span class="quote">“</span> Brad did a great job throughout the whole sales process. He was very knowledgable about the area that the home I was selling was located and helped me pick a price point that worked great.<span class="quote">”</span>
              p.client-name - A recent Client
