section.testionials#carousel
  .container
    .row.testimonial-wrapper
        .5.columns
          .quote 
          .carousel.slide#fade-quote-carousel(data-ride="carousel" data-interval="3000")
            ol.carousel-indicators
              li.active(data-target="#fade-quote-carousel" data-slide-to="0")
              li(data-target="#fade-quote-carousel" data-slide-to="1")
              li(data-target="#fade-quote-carousel" data-slide-to="2")  
            .carousel-inner(role="listbox")
              .active.item
                blockquote
                  p <span class="big-quote">“</span>div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla ratione amet possimus, modi deleniti cum! Ipsam id accusantium veniam sint tempore alias provident, velit laudantium itaque repellat molestiae magni.<span class="big-quote">"</span>
                  p - Recent Client
              .item
                blockquote
                  p "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis a quaerat fugiat distinctio. Voluptatum ab dicta ea voluptatem numquam veniam. Molestias explicabo nostrum placeat velit, dolores sit nam ab!"
                  p - Recent Client
              .item
                blockquote
                  p "Necessitatibus, dignissimos libero, eaque similique vel animi eius reprehenderit excepturi nihil. Earum explicabo illo consectetur, tempora repellendus nihil nobis natus nam, at, ipsum ratione quidem fugiat, voluptatum harum sint ipsa."      
                  p - Recent Client
