doctype
html
  include ./includes/head.jade
  body
    include ./includes/nav.jade
    include ./includes/hero.jade
    include ./includes/ctas.jade
    include ./includes/about.jade
    include ./includes/testimonials.jade
    include ./includes/footer.jade      
