doctype
html
  include ./includes/head.jade
  body
    include ./includes/nav.jade
    include ./includes/hero.jade
    .container
      .row
        p Kick Ass
    include ./includes/foot.jade      
