.about
  h2
    font-size 4.25rem
    font-weight normal
.about-container
  background linear-gradient(#eee, white)
  border 1px solid #c2c2c2
  padding 1rem

.zillow-video
  margin 1rem 0rem
  flex-shrink 200
  min-width 320px
  max-height 394px

.embed-container
    iframe
        max-height 394px
  
.about-content
  //margin 1rem
