.about
  h2
    font-size 4.25rem
    font-weight normal
.about-container
  background linear-gradient(#eee, white)
  border-top 1px solid #c2c2c2
  border-bottom 1px solid #c2c2c2
  padding 1rem

.zillow-video
  margin 1rem 0rem
  flex-shrink 200
  min-width 320px
  max-height 394px

.embed-container
    iframe
        max-height 394px

.about-content
  //margin 1rem
@media (max-width: 550px){
  .about button{
    font-size 10px
  }
}

.contact
  input
    display block
    width 90%
  textarea
    display block
    width 90%
  input[type="submit"]
    background black
    color $primary-color

.modal-title
  display inline
.close
  font-size 3rem
  border none
  padding 1rem
  position absolute
  top 0
  right 0
  background none
  outline none
  &:hover
    background none
    border none
    outline none
