footer
  background black
.footer-wrapper
  padding 5rem
.contact-info
  font-family 'Cinzel', Trajan, Serif
  font-size 1.5rem
  text-align left
  color $primary-color
  padding-left 1rem
  margin-left 1rem
  a
    text-decoration none
  .nav-links
      text-align left

.footer-brand
  min-width 200px
  max-width 400px
  width 100%
  margin 1rem
  border-right 2px solid $primary-color
  padding-right 1rem

