.hero
  background url('../img/Photos/brick_mansion.jpg')
  background-size cover
  background-position center center
  background-repeat no-repeat
  background-attachment fixed
  height 600px
  width 100%
  //animation hero 20s infinite linear

.team-hero
  .hero
    background url('../img/Photos/heashots/fullteam.JPG')
    background-size cover
    background-position center 0%
    background-attachment fixed
    height 800px
