.hero
  background url('../img/Photos/brick_mansion.jpg')
  background-size cover
  background-position center center
  background-repeat no-repeat
  background-attachment fixed
  height 600px
  width 100%
  //animation hero 20s infinite linear

.team-hero
  .hero
    background url('../img/Photos/heashots/fullteam.JPG')
    background-size cover
    background-position center 0%
    background-attachment fixed
    height 800px


@media (max-width 600px) {
  .hero{
    background-size: 100%;
    background-position: bottom center;
    background-attachment: initial;
  }
}

@media (max-width 425px) {
  .hero{
    height: 575px;
  }
}

@media (max-width 350px) {
  .hero{
    height: 537px;
  }
}

@media (max-width 250px) {
  .hero{
    height: 485px;
  }
}
