.hero
  background url('/img/photos/brick_mansion.jpg')
  background-size cover
  background-position center center
  background-repeat no-repeat
  height 600px
  width 100%
  //animation hero 20s infinite linear

.team-hero
  .hero
    background blue


@keyframes hero {
  0% {
    background: url('/img/Photos/crane_mansion.jpg');
    background-size cover
    background-position top left
    background-repeat no-repeat
  }
  50%{
    background: url('/img/Photos/white_brick_mansion.jpg');
    background-size cover
    background-position top left
    background-repeat no-repeat
  }
  100%{
    background: url('/img/photos/brick_mansion.jpg')
    background-size cover
    background-position top left
    background-repeat no-repeat
  }
}
